Assets/** filter=lfs diff=lfs merge=lfs -text
*.wasm binary
*.data binary
tmp/Build/tmp.wasm filter=lfs diff=lfs merge=lfs -text
tmp/Build/tmp.data filter=lfs diff=lfs merge=lfs -text
tmp/**/* filter=lfs diff=lfs merge=lfs -text
